<!-- Big Album Display -->

<div class="big-album">
    <div class="album-art-container">
        <img class="album-art" src="/images/<%-albums[ID].artwork %>" alt="<%-albums[ID].shortName%>">
    </div>

    <div class="album-info">
        
        <p class="info-text">
            <strong>Description</strong><br><br><%-albums[ID].description%>
        </p>

    </div>

    <div class="album-info">
        
        <p class="info-text">
            <strong>Tracklist</strong><br><br><%-albums[ID].tracklist%>
        </p>

    </div>
</div>

